.main {
  width: 100%;
  max-width: map-get($layout, content-max-width);
  padding: 0 map-get($spacers, 5);
  margin: 0 auto;
  @include media-breakpoint-down(lg) {
    padding: 0 map-get($spacers, 4);
  }
  @include media-breakpoint-down(md) {
    padding: 0 map-get($spacers, 3);
  }
}

.has-aside {
  .main {
    max-width: map-get($layout, content-max-width) + map-get($layout, aside-width);
    @include media-breakpoint-down(lg) {
      max-width: map-get($layout, content-max-width);
    }
  }
}

.full-width {
  .main {
    width: 100%;
    max-width: 100%;
  }
}

.mjx-chtml {
  overflow-x: auto;
}


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;
