---
layout: repodefault
---
<!-- page.html -->


<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>
  <article>
    {{ content }}
  </article>
</div>

<script>{%- include scripts/lib/modal.js -%}</script>
{%- if _lightbox == true -%}
  <div class="modal d-print-none js-page-gallery-modal"><div class="gallery"></div></div>
{%- endif -%}
{%- if _header != false -%}
  <div class="modal modal--overflow page__search-modal d-print-none js-page-search-modal">{%- include search.html -%}</div>
{%- endif -%}

{%- if page.aside -%}
<script>
  /* toc must before affix, since affix need to konw toc' height. */
  {%- if page.aside.toc -%}{%- include scripts/aside/toc.js -%}{%- endif -%}
  {%- include scripts/aside/affix.js -%}
</script>
{%- endif -%}

{%- include scripts/bootstrap.html -%}
{%- include markdown-enhancements.html -%}
{%- include pageview.html -%}
