---
layout: default
---
<!-- page.html -->
{%- assign _header_theme = page.header.theme | default: layout.header.theme -%}
{%- if _header_theme == 'dark'-%}
  {%- include header.html theme='dark' background=page.header.background -%}
{%- elsif _header_theme == 'light' -%}
  {%- include header.html theme='light' background=page.header.background -%}
{%- else -%}
  {%- include header.html -%}
{%- endif -%}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
  {% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {%- if page.related_publications != null and page.related_publications.size > 0 -%}
  {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
  <h2>References</h2>
  <div class="publications">
    {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
  </div>
  {%- endif %}

  {%- if _comment != false -%}
    <section class="page__comments d-print-none">{%- include comments.html -%}</section>
  {%- endif -%}
</div>
