---
layout: default
---

{%- assign _page_mode = page.mode | default: layout.mode | default: site.data.variables.default.page.mode -%}
{%- assign _page_type = page.type | default: layout.type | default: site.data.variables.default.page.type -%}
{%- assign _article_header_type = page.article_header.type | default: layout.article_header.type -%}

{%- include snippets/assign.html
  target=layout.header source0=page.header -%}
{%- assign _header = __return -%}

{%- include snippets/assign.html
  target=layout.footer source0=page.footer -%}
{%- assign _footer = __return -%}

{%- include snippets/assign.html
  target=layout.lightbox source0=page.lightbox -%}
{%- assign _lightbox = __return -%}

{%- include snippets/assign.html
  target = site.data.variables.default.page.full_width
  source0=layout.full_width source1=page.full_width -%}
{%- assign _full_width = __return -%}

{%- include snippets/assign.html
  target = site.data.variables.default.page.comment
  source0=layout.comment source1=page.comment -%}
{%- assign _comment = __return -%}


{%- assign _article_header_excerpt_truncate = include.excerpt_truncate | default: 200 -%}

<div id="main" role="main">
  {% include sidebar.html %}
  
  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}
    
    <div class="page__inner-wrap">
      <section class="page__content e-content" itemprop="text">
        {%- if page.toc -%}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="tocc">
              <header><h4 class="tocc nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </nav>
          </aside>
        {%- endif -%}
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>
  
      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% include page__date.html %}
      </footer>
  
      {% if page.share %}{% include social-share.html %}{% endif %}
  
      {% include post_pagination.html %}
    </div>
  
    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>
</div>

<script>
  {%- include scripts/lib/scroll-to.js -%}
  {%- include scripts/lib/affix.js -%}
  {%- include scripts/lib/toc.js -%}
  {%- include scripts/article.js -%}
  {%- if _lightbox == true -%}
    {%- include scripts/lib/gallery.js -%}
    {%- include scripts/components/lightbox.js -%}
  {%- endif -%}
  {%- include scripts/page.js -%}
</script>

{%- if page.sidebar -%}
<script>{%- include scripts/components/sidebar.js -%}</script>
{%- endif -%}

{%- if page.aside -%}
<script>
  /* toc must before affix, since affix need to konw toc' height. */
  {%- if page.aside.toc -%}{%- include scripts/aside/toc.js -%}{%- endif -%}
  {%- include scripts/aside/affix.js -%}
</script>
{%- endif -%}
